<article lang=ja>
<h3>{{ story.title_with_ruby|safe }}</h3>
<h4>
    <a href="/story/{{ story.id|safe }}/">
        <time datetime="{{ story.published.format("%Y-%m-%dT%H:%M:%S+00:00") }}">
            {{ JST.from_utc_datetime(story.published).format("%Y-%m-%d %H:%M:%S %z") }} (JST)
        </time>
    </a>
</h4>
{%- let video = story.video_reencoded.unwrap_or("") -%}
{%- let image = story.image.unwrap_or("") -%}
{%- if !video.is_empty() -%}
    <video src="/media/{{ video|safe }}"{% if let Some(image) = story.image %} poster="/media/{{ image|safe }}" preload="none"{% else %} preload="poster"{% endif %} controls></video>
{%- else if !image.is_empty() -%}
    <img src="/media/{{ image|safe }}" alt="Story illustration" width="640" height="360" loading="lazy">
{%- endif -%}
{%- if let Some(content) = story.content_with_ruby -%}
{{ content|safe }}
{%- else -%}
Missing content
{%- endif -%}
{% if let Some(voice) = story.voice %}<audio src="/media/{{ voice|safe }}" controls preload="none"></audio>{% endif %}
<table class="links">
    <td>
        {# left empty  #}
    </td>
    <td>
    <a href="https://www3.nhk.or.jp/news/easy/{{ story.story_id|safe }}/{{ story.story_id|safe }}.html">Original</a>
    </td>
    <td>
        <a href="/story/{{ story.id|safe }}/" class="permalink">Permalink</a>
    </td>
</table>
</article>
