<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="flattr:id" content="w150z0">
<title>{{ title }} | NHK Easier</title>
<meta property="og:site_name" content="NHK Easier" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="TODO" />
{%- if let Some(description) = description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}" />
{%- endif %}
{%- if let Some(image) = image %}
    <meta property="og:image" content="{{ image|safe }}" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <meta name="twitter:card" content="summary_large_image" />
{%- endif %}
<link rel="icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/bootstrap-5.3.3.min.css">
<link rel="stylesheet" href="/static/style.css?2024-02-01">
<link rel="alternate" href="/feed/" title="NHK Easier Stories" type="application/rss+xml">
</head>
<body>
<header>
    <h1><a href="/">NHK <ruby>Easier<rt>イーシア</rt></ruby></a></h1>
    <div class="toggles" id="ruby-toggles">
        <ul>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="always">
                    <img src="/static/always.svg" alt="Always show furigana" title="Always show furigana">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="hover" checked>
                    <img src="/static/hover.svg" alt="Show furigana on hover" title="Show on hover furigana">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="never">
                    <img src="/static/never.svg" alt="Never show furigana" title="Never show furigana">
                </label>
            </li>
        </ul>
        <div class="toggles-helper" id="ruby-toggles-helper">
            Press <kbd>F</kbd> to toggle furigana
        </div>
    </div>
    <div class="toggles" id="dict-toggle">
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="dict-toggle" checked>
                    <img src="/static/dict.png" alt="Toggle the dictionary" title="Toggle the dictionary">
                </label>
            </li>
        </ul>
        <div class="toggles-helper" id="dict-toggle-helper">
            Press <kbd>D</kbd> to toggle dictionary
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/epub/">EPUB</a></li>
            <li><a href="/story/1/">First</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
</header>
<main>
<h2>{{ heading }}</h2>
{%- block content %}
Something went terribly wrong, I guess.
{%- endblock %}
</main>
{%- if !DEBUG %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7JRMQY3TCL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7JRMQY3TCL');
</script>
{%- endif %}
</body>
</html>
