{% extends "base.html" %}
{%- block content %}
{%- let date = story.published.date() %}
<p>
    <strong>New:</strong>
    <a href="{{ date.format("/%Y/%m/epub") }}">
        Download all stories of {{ date.format("%B %Y") }} as EPUB
    </a>
</p>
{%- include "widgets/nav_story.html" %}
{%- include "widgets/story.html" %}
{%- include "widgets/nav_story.html" %}
{%- if let Some(edict) = edict %}
<script type="edict">
{{ edict|safe }}
</script>
{%- endif %}
{%- if let Some(enamdict) = enamdict %}
<script type="enamdict">
{{ enamdict|safe }}
</script>
{%- endif %}
<script async src="/static/scripts.js?2025-04-27"></script>
{%- endblock %}
