/* general */
* { box-sizing:border-box; }
body { margin:0; font:14px sans-serif;}

/* header */
header {
    background-color:#0d182b;
    display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;
}
header a { color:white; text-decoration:none; outline:none; }
header h1 { margin:0; font:28px sans-serif; letter-spacing:2px; word-spacing:2px; flex-grow:4; }
header h1 a {
    /* margin atop <a> (not padding in <h1>) for cross-browser consistency */
    display:inline-block; margin:10px 0 10px; padding:0 14px 18px;
}
header nav { flex-basis:100px; flex-grow:1; font-size:20px; }
header nav ul { list-style-type:none; margin:0; padding:0; display:flex; justify-content:space-around; }
header nav li { display:inline-block; padding:10px; }
header nav a { color: #ccc; }

/* navigation bars */
main nav { font-size:x-large; }
main nav>table { table-layout:fixed; margin:0 auto; }
main nav td { text-align:center; padding:5px; }
main nav td:nth-child(3) { min-width:4em; }

/* content */
main { max-width:660px; margin:0 auto; padding:0 10px; line-height:1.75; }
main h2 { font-size:20px; border-bottom:1px solid black; margin-left:-9999px; padding-left:9999px; }
@-moz-document url-prefix() {
    /* Only Mozilla Firefox does proper hyphenation */
    @media (min-width: 30em) {
        /* Hyphenation won't save us on short lines */
        main {text-align:justify;hyphens:auto;}
    }
}

/* stories */
article h3 { font:28px sans-serif; margin:0; }
article h4 { font-size:large; margin:0 0 10px; }
article h4 a { text-decoration:none; color:black; font-family:mono; }
article .permalink { float:right; font-variant:uppercase; }
article h4 a:hover * { text-decoration:underline; }
article {
    margin-bottom:100px;
    font-size:20px;
    overflow-wrap:break-word;
}
article img, audio, video { width:100%; }
article>p { cursor:default; margin-bottom:40px; }

/* rubies */
ruby>rt { visibility:hidden; }
ruby:hover>rt { visibility:inherit; }
.ruby-never ruby:hover>rt { visibility:hidden; }
.ruby-always ruby>rt { visibility:inherit; }
#ruby-toggles {
    list-style-type:none; margin-top:10px; padding:0;
    display:flex; flex-direction:row; justify-content:space-around;
}
#ruby-toggles input { display:none; }
#ruby-toggles img { height:60px; width:60px; padding:5px; }
#ruby-toggles :checked + img { padding:4px; border:1px solid black; border-radius:3px; }

/* asides */
#tools p { font-size:medium; }
@media (max-width:1279px) {
    #tools { max-width:640px; margin:0 auto; }
}
@media (max-width:1279px), (max-height:499px) {
    #rikai { display:none; }  /* overrided by Javascript */
    #rikai dl {
        position:fixed; top:10px; left:0; right:0; margin:0 auto;
        width:420px; padding:10px;
        max-width:calc(100% - 40px); max-height:calc(100% - 70px); overflow: auto;
        border:1px solid lightgrey;
        background-color: white;
        z-index:10;
    }
    #mask {
        position:fixed; top:0; left:0; width:100%; height:100%;
        background-color:rgba(0,0,0,.5);
        z-index:5;
    }
}
@media (min-width:1280px) {
    #tools {
        position:sticky; top:0px; float:left; width:310px; height:100vh;
        background-color:#f7f9fd; border-right:10px solid #0d182b;
        padding:20px; overflow:auto;
    }
}
