{% load static %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="flattr:id" content="w150z0">
<title>{{ title }} | NHK News Web Easier</title>
<meta property="og:site_name" content="NHKEasier" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}" />
{% endif %}
{% if image %}
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <meta name="twitter:card" content="summary_large_image" />
{% endif %}
{% if player %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:player" content="{{ player }}">
    <meta name="twitter:player:width" content="640">
    <meta name="twitter:player:height" content="360">
{% endif %}
<link rel="icon" href="{% static 'favicon.png' %}">
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="alternate" href="{% url 'feed' %}" title="NHKEasier Stories" type="application/rss+xml">
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">NHK News Web <ruby>Easier<rt>イーシア</rt></ruby></a></h1>
    <div id="ruby-toggles">
        <ul>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="always">
                    <img src="{% static 'always.svg' %}" alt="Always show furigana" title="Always show furigana" width="40" height="40">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="hover" checked>
                    <img src="{% static 'hover.svg' %}" alt="Show furigana on hover" title="Show on hover furigana" width="40" height="40">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="never">
                    <img src="{% static 'never.svg' %}" alt="Never show furigana" title="Never show furigana" width="40" height="40">
                </label>
            </li>
        </ul>
        <div id="ruby-toggles-helper">
            Press <span class="key">F</span> to toggle furigana
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
</header>
<main>
<h2>{{ header }}</h2>
{% block content %}
Something went terribly wrong, I guess.
{% endblock %}
</main>
{% if not debug %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113732431-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-113732431-1');
</script>
{% endif %}
</body>
</html>
