{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>
Practice Japanese on real news from <a
href="https://www3.nhk.or.jp/news/easy/">NHK News Web Easy</a> even more
easily. Just try moving your cursor above kanji and difficult words (desktop
and laptops) or touching them (smartphones and tablets). You can also subscribe to the
<a href="{% url 'feed' %}">RSS feed<img src="{% static 'feed-icon.svg' %}" alt="RSS feed" class="feed-icon" width="22" height="22"></a>
(also, there is a <a href="{% url 'feed' %}?no-furiganas">version without furiganas</a>).
</p>
<p>
For some more stories, visit <a href="https://slow-communication.jp/">Slow Communication</a>.
</p>
{% include 'widgets/nav_day.html' %}
{% for story in stories %}
{% include 'widgets/story.html' %}
{% endfor %}
{% include 'widgets/nav_day.html' %}
<script type="edict">
{{ edict }}
</script>
<script type="enamdict">
{{ enamdict }}
</script>
<script async src="{% static 'scripts.js' %}"></script>
{% endblock %}
