p {
    /* ensure there is enough room for furigana */
    line-height: 1.8;
}
@font-face {
	font-family: "Noto Sans CJK";
	font-weight: normal;
	font-style: normal;
	src: url("../Fonts/NotoSansCJKjp-VF.otf");
}
.japanese {
    font-family: "Noto Sans CJK";
}
img {
    max-width: 100%;
}
