{% extends 'nhkstories/base.html' %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
<article>
<p>
NHK News Web <ruby>Easier<rt>イーシア</rt></ruby> is a website targeted at
people wishing to learn Japanese. We provide content in the form of text, voice
and video to practice written and oral comprehension.
</p>

<p>
<a href="https://www.nhk.or.jp/">NHK</a> refers to
<ruby>日<rt>にっ</rt>本<rt>ぽん</rt>放<rt>ほう</rt>送<rt>そう</rt>協<rt>きょう</rt>会<rt>かい</rt></ruby>
(literally Japan Broadasting Corporation), Japan's <a
href="https://en.wikipedia.org/wiki/Public_broadcasting">public
broadcasting</a> company. <a href="https://www3.nhk.or.jp/news/">NHK News
Web</a> is NHK's website for local Japanese news. <a
href="https://www3.nhk.or.jp/news/easy/">News Web
<ruby>Easy<rt>イーシー</rt></ruby></a> is a simplified version target for
Japanese children. It uses simpler words, kanji and sentence structures, and
provides readings for all kanjis in the form of <a
href="https://en.wikipedia.org/wiki/Furigana">furigana</a>
(<ruby>振<rt>ふ</rt>り<rt></rt>仮名<rt>がな</rt></ruby>).
</p>

<p>
NHK News Web <ruby>Easier<rt>イーシア</rt></ruby> regroup content from NHK News
Web Easy for a non-Japanese audience, and includes some additional features
which are useful for language learners:
</p>
<ul>
<li>ability to disable partially (show on mouse hover) or completely furigana</li>
<li>quick access to words and expressions translation</li>
<li>voice and video served using HTML5 (no need for a Flash player)</li>
</ul>
<p>
<strong>NHK News Web <ruby>Easier<rt>イーシア</rt></ruby> is not affiliated
with NHK.</strong>
</p>
</article>
{% endblock %}
