{% load static %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="flattr:id" content="w150z0">
<title>{{ title }} | NHK News Web Easier</title>
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}" />
{% endif %}
{% if image %}<meta property="og:image" content="{{ image }}" />{% endif %}
<link rel="icon" href="{% static 'nhkstories/favicon.png' %}">
<link rel="stylesheet" href="{% static 'nhkstories/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'nhkstories/style.css' %}">
<link rel="alternate" href="{% url 'nhkstories:feed' %}" type="application/rss+xml">
</head>
<body>
<header>
    <h1><a href="{% url 'nhkstories:home' %}">NHK News Web <ruby>Easier<rt>イーシア</rt></ruby></a></h1>
    <nav>
        <ul>
            <li><a href="{% url 'nhkstories:home' %}">Home</a></li>
            <li><a href="{% url 'nhkstories:about' %}">About</a></li>
        </ul>
    </nav>
</header>
<aside>
    <section id="tools">
        <h3>Tools</h3>
        <ul id="ruby-toggles">
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="always">
                    <img src="/static/nhkstories/always.svg" alt="Always show furigana" title="Always show furigana">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="hover" checked>
                    <img src="/static/nhkstories/hover.svg" alt="Show furigana on hover" title="Show on hover furigana">
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="ruby-toggle" value="never">
                    <img src="/static/nhkstories/never.svg" alt="Never show furigana" title="Never show furigana">
                </label>
            </li>
        </ul>
        <label>
            <input type="checkbox" id="rikai_auto" checked>
            Auto rikai
        </label>
        <p>See also <a href="https://www.darrenlester.com/projects/furigana-toggle">Furigana Toggle</a> and
        <a href="https://addons.mozilla.org/en-US/firefox/addon/rikaichamp/">Rikaichamp</a>/<a href="https://chrome.google.com/webstore/detail/rikaikun/jipdnfibhldikgcjhfnomkfpcebammhp">Rikaikun</a></p>
        <p>Study Japanese on real-life signs on <a href="https://kanjisigns4u.blogspot.fr/">Kanji Signs 4 U</a>.</p>
    </section>
    <div id="rikai-container">
        <section id="rikai-edict">
            <h3>EDICT Translations</h3>
            <dl></dl>
        </section>
        <section id="rikai-names">
            <h3>Names translations</h3>
            <dl></dl>
        </section>
        <div id="rikai-mask"></div>
    </div>
</aside>
<main>
<h2>{{ header }}</h2>
{% block content %}
Something went terribly wrong, I guess.
{% endblock %}
</main>
{% if not debug %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113732431-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-113732431-1');
</script>
{% endif %}
</body>
</html>
