{% load static %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="flattr:id" content="w150z0">
<title>{{ title }} | NHK News Web Easier</title>
<meta property="og:site_name" content="NHKEasier" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}" />
{% endif %}
{% if image %}
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <meta name="twitter:card" content="summary_large_image" />
{% endif %}
<link rel="icon" href="{% static 'nhkstories/favicon.png' %}">
<link rel="stylesheet" href="{% static 'nhkstories/style.css' %}">
<link rel="alternate" href="{% url 'nhkstories:feed' %}" title="NHKEasier Stories" type="application/rss+xml">
</head>
<body>
<header>
    <h1><a href="{% url 'nhkstories:home' %}">NHK News Web <ruby>Easier<rt>イーシア</rt></ruby></a></h1>
    <ul id="ruby-toggles">
        <li>
            <label>
                <input type="radio" name="ruby-toggle" value="always">
                <img src="/static/nhkstories/always.svg" alt="Always show furigana" title="Always show furigana">
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="ruby-toggle" value="hover" checked>
                <img src="/static/nhkstories/hover.svg" alt="Show furigana on hover" title="Show on hover furigana">
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="ruby-toggle" value="never">
                <img src="/static/nhkstories/never.svg" alt="Never show furigana" title="Never show furigana">
            </label>
        </li>
    </ul>
    <nav>
        <ul>
            <li><a href="{% url 'nhkstories:home' %}">Home</a></li>
            <li><a href="{% url 'nhkstories:contact' %}">Contact</a></li>
            <li><a href="{% url 'nhkstories:about' %}">About</a></li>
        </ul>
    </nav>
</header>
<main>
<h2>{{ header }}</h2>
{% block content %}
Something went terribly wrong, I guess.
{% endblock %}
</main>
{% if not debug %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113732431-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-113732431-1');
</script>
{% endif %}
</body>
</html>
