{% load tz %}
<article>
<h3>{{ story.title_with_ruby|safe }}</h3>
<h4><a href="{% url 'nhkstories:story' story.id %}"><time datetime="{{ story.published|date:'c' }}">{{ story.published|timezone:'Asia/Tokyo'|date:'Y-m-d H:i:s O (e)' }}</time></a></h4>
{% if story.video_reencoded %}
    <video src="{{ story.video_reencoded.url }}"{% if story.image %} poster="{{ story.image.url}}"{% endif %} controls preload="none"></video>
{% elif story.image %}
    <img src="{{ story.image.url }}" alt="Story illustration">
{% endif %}
{{ story.content_with_ruby|safe }}
{% if story.voice %}<audio src="{{ story.voice.url }}" controls preload="none"></audio>{% endif %}
<a href="https://www3.nhk.or.jp/news/easy/{{ story.story_id }}/{{ story.story_id }}.html">See on NHK News Web Easy</a> (if still available)
</article>
