<nav><table><tr>
    <td>{% if stories.has_previous %}<a href="./">&#x21E4;</a>{% else %}&#x21E4;{% endif %}</td>
    <td>{% if stories.has_previous %}<a href="?page={{ stories.previous_page_number }}">&#x2190;</a>{% else %}&#x2190;{% endif %}</td>
    <td>{{ stories.number }} / {{ stories.paginator.num_pages }}</td>
    <td>{% if stories.has_next %}<a href="?page={{ stories.next_page_number }}">&#x2192;</a>{% else %}&#x2192;{% endif %}</td>
    <td>{% if stories.has_next %}<a href="?page={{ stories.paginator.num_pages }}">&#x21E5;</a>{% else %}&#x21E5;{% endif %}</td>
</tr></table></nav>
