{% extends 'nhkstories/base.html' %}
{% block content %}
<article>
<p>
The main feature of this website was inspired by a series of webbrowser
extenions called <a
href="https://chrome.google.com/webstore/detail/rikaikun/jipdnfibhldikgcjhfnomkfpcebammhp">Rikaikun</a>
(Google Chrome), <a href="https://www.polarcloud.com/getrcx/">Rikaichan</a>
(Mozilla Firefox, obsolete) and <a
href="https://addons.mozilla.org/en-US/firefox/addon/rikaichamp/">Rikaichamp</a>
(Mozilla Firefox, replacement of Rikaichan). You can use these extension to
benefit from a quick-access Japanese dictionary working on any website!
</p>
<ul>
    <li>Install <a href="https://chrome.google.com/webstore/detail/rikaikun/jipdnfibhldikgcjhfnomkfpcebammhp">Rikaikun</a> on Google Chrome</li>
    <li>Install <a href="https://addons.mozilla.org/en-US/firefox/addon/rikaichamp/">Rikaichamp</a> on Mozilla Firefox</li>
</ul>
<p>
If you prefer reading news directly on <a
href="https://www3.nhk.or.jp/news/easy/">NHK News Web Easy</a>, or regularly
consult other website with furigana, install <a
href="https://www.darrenlester.com/projects/furigana-toggle">Furigana
toggle</a> (either Google Chrome or Mozilla Firefox) to hide them by default!
You will be able to display them simply by hovering the kanji with your cursor.
</p>
<p>
Alternatively, you can also go on <a
href="https://kanjisigns4u.blogspot.fr/">Kanji Signs 4 U</A> to study
Japanese encountered on day-to-day signs.
</p>
</article>
{% endblock %}
